{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-2 bg-secondary text-light" style="height: 100vh;">
        <h1>Wallet</h1>
      </div>
      <div class="col-10 bg-info">
        <div class="row">
            <div class="col-6 text-center">
                <h3>Balance</h3>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ balance }}
                    {{ balance_form.as_p }}
                    <input type="submit" value="Update balance" name="submit" />
                </form>
            </div>
            <div class="col-6 text-center">
                <h3>New transaction</h3>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ transaction_form.as_p }}
                    <input type="submit" value="Send transaction" name="submit" />
                </form>
            </div>
        </div>
        <div clas="row">
            <div class="col-12">
                <h2> My assets </h2>
                {% for asset in asset_list %}
                    <p>{{ asset }}: {{ asset.quantity }} </p>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}