{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-2 bg-secondary text-light" style="height: 100vh;">
        <h1>Wallet</h1>
      </div>
      <div class="col-10 bg-info">
        <div class="row">
            <div class="col-6 text-center">
                <div class="card text-white bg-success mb-3" style="max-width: 30rem;">
                    <div class="card-header">Balance</div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ balance }}
                            {{ balance_form.as_p }}
                            <input type="submit" name="Submit Button" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="card text-white bg-success mb-3" style="max-width: 30rem;">
                    <div class="card-header">New transaction</div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ transaction_form.as_p }}
                            <input type="submit" name="Submit Button" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h2> My assets </h2>
                {% for asset in asset_list %}
                    <p>{{ asset }}: {{ asset.quantity }} </p>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}